* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #faf0e6;
    font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif
}

/* apply styles to <header> */

header {
    padding: 20px 35px;
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 999;
}

header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #faf0e6;
}

header a {
    text-decoration: none;
    color: #faf0e6;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: #faf0e6;
    color: #daa520;
    border-radius: 15px;
    text-shadow: none;
}

.contact-me {
    padding: 20px 35px;
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 999;
}

.contact-me a {
    text-decoration: none;
    color: #faf0e6;
}

.contact-me nav {
    margin: 7px 0;
}

.contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-me nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.contact-me nav ul li a:hover {
    background: #faf0e6;
    color: #daa520;
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: #faf0e6;
    color: #daa520;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*ABOUT ME SECTION STARTS*/
.me h2 {
    color: #daa520;
    font-size: 48px;
}

.about-text {
    font-size: 20px;
    color: #daa520;
    background-color: #faf0e6;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #daa520;
}

.container h3 {
    font-size: 48px;
    font-weight: bolder;
    flex: 1 30%;
}

.about-text {
    flex: 12;
    color: #daa520;
    font-size: 20px;
    align-items: stretch;
}


html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /*font-family: 'Fira Sans', sans-serif;*/
    font-weight: 600;
    font-size: 10px;
    color: black;
    text-shadow: 0 2px 0 rgba(122, 59, 59, 0.07);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 50px;
  }
  
  .grid-item {
    display: flex;
    justify-content: space-between;
    /*border: 5px solid rgba(0, 0, 0, 0.2);*/
    /*margin: 5px auto;*/
    border-radius: 5px;
    font-size: 35px;
    background-color: #008080;;
  }
  
  .grid-container {
    grid-auto-flow: dense;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: stretch;
  }
  
  .item-1 {
    grid-column-start: 1;
    grid-column-end: four;
    grid-row-start: row1-start;
    grid-row-end: 4;
  }

  .item-2 {
      grid-column-start: 1;
      grid-column-end: span col5-start;
      grid-row-start: 4;
      grid-row-end: span 1;
  }

  .item-3 {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 4;
    grid-row-end: 2
  }

  .item-4 {
    grid-column-start:auto;
    grid-column-end: auto;
    grid-row-start:auto;
    grid-row-end: auto;
  }

  .me, .resume {
    font-size: 30px;
    font-weight: bolder ;
    color: #daa520;
  }





